@import url('../../Fonte_Config/fonte_geral.css');

#texto {
    text-align: center;
    font-size: 80px;
    height: 140px;
}

#menu {
    background-color: black;
}

#fund {
    background-color: black !important;
}

#cor-fonte {
    color: #ff9100;
    font-size: 21px;
    padding-bottom: 13px;
}

#cor-fonte:hover {
    background-color: #f4a21d67 !important;
}

#cor-fonte img{
    width: 32px;
}

#logo-linha img {
    width: 150px;
}