@import url('../../Fonte_Config/fonte_geral.css');

#texto{
    text-align: center;
    font-size: 80px;
    height: 140px;
}

#botoes{
    background-color: #ff9100;
    border-color: black;
}

#botoes img{
    width: 50px;
}

#menu{
    background-color: black;
}

#fund {
    background-color: black !important;
}