@import url('../../Fonte_Config/fonte_geral.css');

@media (max-width: 768px) {
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: bottom;
    background-color: #d7301f;
    padding: 10px 20px;
}

.carrinho img {
    height: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-left: 50px;
}

nav ul li a {
    color: white;
    font-size: 18px;
    display: block;
    text-decoration: none;
}

nav ul li a:not(.btn):after {
    content: "";
    background-color: #ffffff;
    height: 3px;
    width: 0%;
    display: block;
    transition: 0.3s;
}

a:hover {
    color: white;
}

nav ul li a:hover::after {
    width: 100%;
}

#nav2 {
    color: #ffffff;
    background-color: #d7301f;
}

h1 {
    font-size: 30px;
    text-decoration: underline;
    margin-left: 10px;
}

#logo2 {
    margin-left: 10px;
    height: 40px;
}

.botoes {
    background: url("../IMG/index_cliente.png") no-repeat;
    height: 500px;
}

.btn-1 {
    margin-top: 15px;
    width: 150px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
}

.btn-2 {
    width: 120px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
}

#aa {
    color: black;
    background-color: white;
    text-decoration: none !important;
    font-size: 22px;
}

#logos {
    align-items: center;
    height: 300px;
}

.carousel-slide {
    
}